*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
:root{
    --principal-bg-color: #D3DCEB;
    --principal-text-color: #3C6CAC;
    --second-text-color: #0000;
}
body{
    background-color: var(--principal-bg-color);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    max-height: 1000px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}
.up{
    position: relative;
    width: 100%;
    height: 30%;
    background-image: url(de-espalda-palmera.jpg);
    background-size: cover;
    background-position: center center;
    border-bottom: 2px white solid;
}
.img-container{
    border: 2px white solid;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    min-width: 150px;
    max-width: 300px;
    height: fit-content;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
}
.img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.down{
    width: 100%;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.down__title{
    width: 100%;
    height: fit-content;
    font-size: 3rem;
    text-align: center;
    margin-top: 30%;
    border-radius: 30px;
    color: var(--principal-text-color);
}
.down__text{
    height: fit-content;
    width: 100%;
}
.down__text h2{
    font-size: 2rem;
    padding: 5px 5px 5px 10px;
    text-align: center;
    color: var(--principal-text-color);
}
.down__text p{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
}
.down__text p span{
    font-weight: bolder;
}
.down__socialmedia {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.down__socialmedia i{
    font-size: 2rem;
    color: var(--principal-text-color);
    cursor: pointer;
}

@media only screen and (min-width : 930px) {
    *{
        font-size: 20px
    }
    .down{
        flex-wrap: nowrap;
        width: 100%;
        position: relative;
    }
    .down__title{
        margin: 0px;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .down__text{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .down__text h2{
        text-align: end;
        padding-bottom: 40px;
    }
    .down__text p{
        text-align: justify;
        padding-left: 30px;
    }
    .down__socialmedia{
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 25%;
        padding: 10px;
    }

    }

    @media only screen and (max-height : 550px){
        *{
            font-size: 12px
        }
        .container{
            margin-top: 10px;
        }
        .img-container{
            width: 30%;
        }
        .down{
            flex-wrap: nowrap;
            width: 100%;
            position: relative;
        }
        .down__title{
            margin: 0px;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .down__text{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .down__text h2{
            text-align: end;
            padding-bottom: 20px;
        }
        .down__text p{
            text-align: justify;
            padding-left: 30px;
            width: 90%;
            margin-left: auto;
        }
        .down__socialmedia{
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 25%;
            padding: 10px;
        }
    } 
